<?xml version="1.0"?>
<config>
    <modules>
        <VB_MagentoMix>
            <version>0.1.0</version>
        </VB_MagentoMix>
    </modules>
    <frontend>
        <routers>
            <magentomix>
                <use>standard</use>
                <args>
                    <module>VB_MagentoMix</module>
                    <frontName>magentomix</frontName>
                </args>
            </magentomix>
        </routers>
        <layout>
            <updates>
                <magentomix>
                    <file>magento_mix.xml</file>
                </magentomix>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <magentomix>
                <class>VB_MagentoMix_Helper</class>
            </magentomix>
        </helpers>
        <blocks>
            <magentomix>
                <class>VB_MagentoMix_Block</class>
            </magentomix>
        </blocks>
    </global>
</config> 